.shop-container {
    padding: 20px;
    text-align: center;
  }
  
  .shop-heading {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:rgb(32, 3, 79);
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    border: none;
    width: 100%;
    
  }
  
  .card {
    border: 1px  #ccc;
    padding: 20px;
    text-align: center;
    width: 18%;
  }
  
  .card-button {
    
  
    background-color: #090909;
    color: rgb(254, 252, 252);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-left: -50%;
  }
  
  .card-image {
    max-width: 100%;
  }
  
  .product-name {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .quantity-input {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  
  .add-to-cart-button,
  .buy-now-button {
    background-color: #060707;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px);
    }
  }
  